<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" 
		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
			id="WebApp_ID" version="2.5">
  <display-name>WebProj2</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DemoServlet</display-name>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>com.servlet.DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/DemoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateUserServlet</display-name>
    <servlet-name>ValidateUserServlet</servlet-name>
    <servlet-class>com.servlet.ValidateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateUserServlet</servlet-name>
    <url-pattern>/ValidateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidUserServlet</display-name>
    <servlet-name>ValidUserServlet</servlet-name>
    <servlet-class>com.servlet.ValidUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidUserServlet</servlet-name>
    <url-pattern>/ValidUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NotValidUserServlet</display-name>
    <servlet-name>NotValidUserServlet</servlet-name>
    <servlet-class>com.servlet.NotValidUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotValidUserServlet</servlet-name>
    <url-pattern>/NotValidUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlacesServlet</display-name>
    <servlet-name>PlacesServlet</servlet-name>
    <servlet-class>com.servlet.PlacesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlacesServlet</servlet-name>
    <url-pattern>/PlacesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AirlineServlet</display-name>
    <servlet-name>AirlineServlet</servlet-name>
    <servlet-class>com.servlet.AirlineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AirlineServlet</servlet-name>
    <url-pattern>/AirlineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightListServlet</display-name>
    <servlet-name>FlightListServlet</servlet-name>
    <servlet-class>com.servlet.FlightListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightListServlet</servlet-name>
    <url-pattern>/FlightListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerServlet</display-name>
    <servlet-name>ControllerServlet</servlet-name>
    <servlet-class>com.servlet.controller.ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServlet</servlet-name>
    <url-pattern>/ControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NVU</display-name>
    <servlet-name>NVU</servlet-name>
    <servlet-class>com.servlet.controller.NVU</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NVU</servlet-name>
    <url-pattern>/NVU</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VU</display-name>
    <servlet-name>VU</servlet-name>
    <servlet-class>com.servlet.controller.VU</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VU</servlet-name>
    <url-pattern>/VU</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>com.servlet.controller.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPlaceServlet</display-name>
    <servlet-name>AddPlaceServlet</servlet-name>
    <servlet-class>com.servlet.controller.AddPlaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPlaceServlet</servlet-name>
    <url-pattern>/AddPlaceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyPlaceServlet</display-name>
    <servlet-name>ModifyPlaceServlet</servlet-name>
    <servlet-class>com.servlet.controller.ModifyPlaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyPlaceServlet</servlet-name>
    <url-pattern>/ModifyPlaceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchPlaceServlet</display-name>
    <servlet-name>SearchPlaceServlet</servlet-name>
    <servlet-class>com.servlet.controller.SearchPlaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPlaceServlet</servlet-name>
    <url-pattern>/SearchPlaceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePlaceServlet</display-name>
    <servlet-name>DeletePlaceServlet</servlet-name>
    <servlet-class>com.servlet.controller.DeletePlaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePlaceServlet</servlet-name>
    <url-pattern>/DeletePlaceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAirlineServlet</display-name>
    <servlet-name>AddAirlineServlet</servlet-name>
    <servlet-class>com.servlet.controller.AddAirlineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAirlineServlet</servlet-name>
    <url-pattern>/AddAirlineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_PlaceServlet</display-name>
    <servlet-name>Add_PlaceServlet</servlet-name>
    <servlet-class>com.servlet.controller.Add_PlaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_PlaceServlet</servlet-name>
    <url-pattern>/Add_PlaceServlet</url-pattern>
  </servlet-mapping>
</web-app>