<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FlyAirline</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddPlaceServlet</display-name>
    <servlet-name>AddPlaceServlet</servlet-name>
    <servlet-class>com.servlet.controller.AddPlaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPlaceServlet</servlet-name>
    <url-pattern>/AddPlaceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchPlaceServlet</display-name>
    <servlet-name>SearchPlaceServlet</servlet-name>
    <servlet-class>com.servlet.controller.SearchPlaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPlaceServlet</servlet-name>
    <url-pattern>/SearchPlaceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePlaceServlet</display-name>
    <servlet-name>UpdatePlaceServlet</servlet-name>
    <servlet-class>com.servlet.controller.UpdatePlaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePlaceServlet</servlet-name>
    <url-pattern>/UpdatePlaceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePlaceServlet</display-name>
    <servlet-name>DeletePlaceServlet</servlet-name>
    <servlet-class>com.servlet.controller.DeletePlaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePlaceServlet</servlet-name>
    <url-pattern>/DeletePlaceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAirlineServlet</display-name>
    <servlet-name>AddAirlineServlet</servlet-name>
    <servlet-class>com.servlet.controller.AddAirlineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAirlineServlet</servlet-name>
    <url-pattern>/AddAirlineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAirlineServlet</display-name>
    <servlet-name>DeleteAirlineServlet</servlet-name>
    <servlet-class>com.servlet.controller.DeleteAirlineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAirlineServlet</servlet-name>
    <url-pattern>/DeleteAirlineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchAirlineServlet</display-name>
    <servlet-name>SearchAirlineServlet</servlet-name>
    <servlet-class>com.servlet.controller.SearchAirlineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAirlineServlet</servlet-name>
    <url-pattern>/SearchAirlineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAirlineServlet</display-name>
    <servlet-name>UpdateAirlineServlet</servlet-name>
    <servlet-class>com.servlet.controller.UpdateAirlineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAirlineServlet</servlet-name>
    <url-pattern>/UpdateAirlineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFlightServlet</display-name>
    <servlet-name>AddFlightServlet</servlet-name>
    <servlet-class>com.servlet.controller.AddFlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFlightServlet</servlet-name>
    <url-pattern>/AddFlightServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchFlightServlet</display-name>
    <servlet-name>SearchFlightServlet</servlet-name>
    <servlet-class>com.servlet.controller.SearchFlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFlightServlet</servlet-name>
    <url-pattern>/SearchFlightServlet</url-pattern>
  </servlet-mapping>
</web-app>